<% layout('layouts/boilerplate') -%>

<h1>Donate</h1>
<div class="col-4 offset-4">
<div class="card" style="width: 100%;">
  <img src="./public/donate.jpg" class="card-img-top"  alt="...">
  <div class="card-body">
    <p class="card-text">Scan the QR code to help.</p>
  </div>
</div>
</div>